body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
}

[hidden] {
    display: none !important;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 20px;
}
